@model TaskManagement.Web.Models.Project.ProjectViewModel
@{
    ViewData["Title"] = "Edit Project";
}

<div class="container col-lg-12">
    <div class="row col-sm-6 center">
        <h3 class="mb-3 mt-3">Edit project</h3>
        <form asp-controller="Project" asp-action="Edit" autocomplete="off" method="post" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingNameInput" placeholder="name" name="Name" value="@Model.Name">
                <label for="floatingNameInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="floatingDescriptionInput" placeholder="description" name="Description" style="height: 150px;">@Model.Description</textarea>
                <label for="floatingDescriptionInput">Description</label>
            </div>
            <input type="hidden" name="Id" value="@Model.Id"/>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
</div>